<div {{ attributes }}>
  {# Blog Card Wrapper #}
  <div class="blog-card {{ alignment }} {{ blog_variation }}">

    {% if blog_variation == 'variation_one' %}
      {# Variation One Layout #}
      <div class="blog-card__image">
        <img src="{{ image }}" alt="{{ title }}" />
      </div>
      <div class="blog-card__content">
        <h2 class="blog-card__title">{{ title }}</h2>
        
        <p class="blog-card__description">{{ description }}</p>
        <a href="{{ cta_link }}" class="blog-card__button">{{ cta_text }}</a>
      </div>

    {% elseif blog_variation == 'variation_two' %}
      {# Variation Two Layout #}
      <div class="blog-card__content">
       
        <h2 class="blog-card__title">{{ title }}</h2>
       
        <p class="blog-card__description">{{ description }}</p>
        <a href="{{ cta_link }}" class="blog-card__button">{{ cta_text }}</a>
      </div>
      <div class="blog-card__image">
        <img src="{{ image }}" alt="{{ title }}" />
      </div>


    {% endif %}

  </div>
</div>
